footer {
    width: 100vw;
    height: 2vh;
    min-height: 1.5rem;
    max-height: 2rem;
    background-color: #96d1f8c9;
    font-size: 1.2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

footer p {
  font-size: 0.7rem;
  margin: 0; 
}

@media screen and (orientation: landscape) {
    footer {
      height: 4vh;
      min-height: 1.2rem;
      max-height: 2rem;
      font-size: 1rem;
    }
    footer p {
      font-size: 1rem;
    }
  }

  