header {
    width: 100vw;
    background-color: #96d1f8c9;
    height: 5vh;
    display: flex;
}

#app-name {
    margin: auto;
    font-size: 4vh;
}

/* MEDIA QUERRIES */
@media screen and (orientation: landscape) {
    header {
      height: 10vh;
      min-height: 2rem;
      max-height: 4rem;
    }
    #app-name {
        margin: auto;
        font-size: 5vh;
    }
  }