/* Map */
#map-container {
    max-height: 100vh;
    flex-grow: 1;
    min-width: 59vw;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
  }

/* Info Window */
.info-window {
    display: flex;
    flex-flow: column;
  }

.info-window section {
    display: flex;
    flex-flow: column;
}

.info-window h4 {
    margin: 0;
}

.info-window h4 p {
    margin: 0;
    font-style: italic;
    font-weight: normal;
}
  
.marker-intro {
    margin: 0.25rem 0;
}

.wiki-ref {
    margin: 0 0 0.25rem 0;
    font-style: italic;
}

#image-info {
    align-self: center;
    margin: 3px;
    
}

#image-info:focus {
    align-self: center;
    outline: #65a9d7 1px solid;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(27,12,237,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(27,12,237,1);
    box-shadow: 0px 0px 5px 1px rgba(27,12,237,1);  
}

#add-geo-tag {
    height: 40px;
    margin: 3px;
}

#add-geo-tag:focus {
    outline: #65a9d7 1px solid;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(27,12,237,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(27,12,237,1);
    box-shadow: 0px 0px 5px 1px rgba(27,12,237,1);   
}

/* google maps error messages */
.gm-err-title {
    color: red;
}

.gm-err-message {
    color: red;
    font-size: 1rem;
}